@tailwind base;
@tailwind components;
@tailwind utilities;

html{
   scroll-behavior: smooth;
}

li{
  @apply px-2 text-white;
}

.nav{
  background-color: green;
}
.mv{
  @apply fixed left-0 top-10 bg-gray-800 w-full h-[30%];
}
.mv li{
  @apply w-full h-full text-center border-b-2;
}

/*Hero Section*/
.sec{
  background-color: rgb(85, 81, 227);
}
.icon a{
  @apply px-2 hover:text-green-800;
}

/*Project section*/
.box-container{
   @apply w-[300px] h-[320px] md:w-1/3 md:h-72 my-10 md:my-0 border border-black px-10 mx-5 flex flex-col items-center justify-center relative;
   background-color: white;
   border-radius: 3px;
}
.heading{
  @apply font-hero-font text-2xl;
}
.des{
  @apply w-full h-full absolute opacity-0 hover:opacity-100 duration-500;
  border-radius: 3px;
}
.detail{
  @apply text-white text-xl font-hero-font text-center;
}

/*Skills section*/
.bar{
  @apply w-full h-2 border relative;
  border-radius: 5px;
}
.inner-bar{
  @apply h-2 absolute;
  border-radius: 5px;
  background-color: green;
}
.percent{
  @apply font-hero-font text-sm text-white;
}
.heading1{
  @apply font-hero-font text-sm;
}

/*Resume Section*/
.download{
  padding: 2px;
  border-radius: 2px;
  background-color: green;
}